@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Manrope', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

.active{
    border-bottom: 1px solid black;
}

.rounded-r-r:hover{
    border-bottom-right-radius: 25%;
}

a.anchor{
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}